
.height-18rem {
    height: 18rem;
}

.secondary-header {
    font-size: 2.5rem !important;
}

.json-container {
    background-color: #e9ecef;
    margin-top: 4px;
    border-radius: .3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.padding-left-0 {
    padding-left: 0 !important;
}

a:hover {
    text-decoration: none !important;
}

.list-group-item.delete {
    cursor: pointer;
}

.divider-line {
    margin-top: 2rem;
}

.api-info {
    float: right;
    width: auto;
}

.width70px {
    width: 70px;
}

.inputWidth {
    width: 658px !important;
}

.form {
    margin-top: 10px;
}

/*--------------*/

img {
    width: 100%;
}

.navbar {
    background-color: #e3f2fd;
}

.fa.fa-edit {
    color: #18a2b9;
}

.list-group-item.delete:hover {
    cursor: -webkit-grab;
    background-color: pink;
}

.list-group-item.update:hover {
    cursor: -webkit-grab;
    background-color: gainsboro;
}

.list-group-item.board:hover {
    cursor: -webkit-grab;
    background-color: gainsboro;
}

.fa.fa-minus-circle {
    color: red;
}

.landing {
    position: relative;
    /* background: url("../img/showcase.jpg") no-repeat; */
    background-size: cover;
    background-position: center;
    /*height: 100vh;*/
    margin-top: -24px;
    margin-bottom: -50px;
}

.landing-inner {
    padding-top: 80px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-form {
    opacity: 0.9;
}

.latest-profiles-img {
    width: 40px;
    height: 40px;
}

.form-control::placeholder {
    color: #bbb !important;
}

.greenPrimary {
    background-color: #231F20;
}

.cursorPointer {
    cursor: pointer;
}

.normal-font-style {
    font-style: normal;
}

.italic-font-style {
    font-style: italic;
}

.border-input-red {
    border: 1px solid red;
    border-radius: 6px;
}
